
/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10.5px;
}

body {
    background-image: linear-gradient(rgba(52, 52, 52, 0.4), rgba(52, 52, 52, 0.4)), url(./img/background.gif);
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: rgb(213, 213, 213);
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* GENERAL COMPONENTS */
/* ----------------------------------------------- */


.row {
    max-width: 114rem;
    margin: 0 auto;
}

.box {
    padding: 1%;
    /* border: 2px black solid; */
}

.main-container{
    padding: 0.2rem ;
}



/* ----------------------------------------------- */
/* PLAYER BOX */
/* ----------------------------------------------- */

.icon-turn{
    text-align: center;
    font-size: 10rem;
    margin-top: 5rem;

}

/* ----- COUNTER BOX----- */

.counter-box{
    border: 3px rgb(213, 213, 213) solid;
    border-radius: 3rem;
    margin: 2rem auto 6rem auto;
    height: 40rem;
    width: 40rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}


.player-name{
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    padding:2rem 0;

}

.main-counter{
    text-align: center;
    padding:1rem 0;
    font-size: 11rem;
    font-weight: 400;

}

.secundary-counter{
    text-align: center;
    margin: 3rem auto;
    line-height: 8rem;
    height: 8rem;
    width: 12rem;
    background-color: #2B3B71;
    color: rgb(213, 213, 213);
    font-size: 4rem;
    font-weight: 300;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

/* ----- PLAYER BUTTONS----- */

.btn-roll{
    cursor: pointer;
    text-align: center;
    margin: 2rem auto;
    line-height: 4rem;
    height: 4.5rem;
    width: 16rem;
    font-size: 1.5rem;
    color: rgb(213, 213, 213);
    border: 2px rgb(213, 213, 213) solid;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    transition: background 0.2s, color 0.2s;
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    -ms-transition: background 0.2s, color 0.2s;
    -o-transition: background 0.2s, color 0.2s;
}
.btn-roll:hover{
    background: rgb(213, 213, 213);
    color: rgb(26, 26, 26);
    font-weight: 400;
}
.btn-roll:active{
    position:relative;
    top:1px;
    background: rgb(177, 177, 177);
    border: 4px rgb(177, 177, 177) solid;
    line-height: 3.7rem;
}

.btn-hold{
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    line-height: 4.5rem;
    height: 4.5rem;
    width: 13rem;
    font-size: 1.5rem;
    font-weight: 400;
    background-color:  rgb(213, 213, 213);
    color: rgb(26, 26, 26);
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    transition: background 0.3s;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
}
.btn-hold:hover{
    background: rgb(186, 186, 186);
}
.btn-hold:active{
    position:relative;
    top:1px;
    background: rgb(148, 148, 148);
}


/* ----------------------------------------------- */
/* GAME MIDDLE PANNEL */
/* ----------------------------------------------- */

.icon-pannel{
    text-align: center;
    font-size: 8rem;
    height: 8rem;
    /* margin-top: 1rem; */
}

.counter-back{
    text-align: center;
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 12rem;
}

.dice{
    margin: 0 3rem 14rem 3rem;
}

.dice-1 ,.dice-2{
    display: inline-block;
    width: 12rem;
    height: 12rem;
    border:7px white solid;
    margin: 3rem 2rem;
    border-radius:2rem;
    -webkit-border-radius:2rem;
    -moz-border-radius:2rem;
    -ms-border-radius:2rem;
    -o-border-radius:2rem;
}

.btn-start{
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    line-height: 9.5rem;
    height: 10rem;
    width: 10rem;
    font-size: 1.7rem;
    font-weight: 400;
    color: rgb(147, 61, 61);
    border: 4px rgb(147, 61, 61) solid;
    border-radius: 13rem;
    -webkit-border-radius: 13rem;
    -moz-border-radius: 13rem;
    -ms-border-radius: 13rem;
    -o-border-radius: 13rem;
    transition: background 0.2s, border 0.2s;
    -webkit-transition: background 0.2s, border 0.2s;
    -moz-transition: background 0.2s, border 0.2s;
    -ms-transition: background 0.2s, border 0.2s;
    -o-transition: background 0.2s, border 0.2s;
}
.btn-start:hover{
    background: rgb(147, 61, 61);
    color: rgb(213, 213, 213);
}
.btn-start:active{
    position:relative;
    top:1px;
    background-color: rgb(143, 46, 46);
    border: 4px rgb(143, 46, 46) solid;
    color: rgb(255, 255, 255);
}


.score-input{
    display: block;
    text-align: center;
    margin: 2rem auto;
    line-height: 5rem;
    height: 5.5rem;
    width: 16rem;
    font-size: 2rem;
    color: rgb(213, 213, 213);
    border: 1px rgb(213, 213, 213) solid;
    border-radius: 2rem;
    background: none;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: background 2s,;
    -webkit-transition: background 2s,;
    -moz-transition: background 2s,;
    -ms-transition: background 2s,;
    -o-transition: background 2s,;
}

.score-input:focus{
    outline:0;
    border: 2px rgb(213, 213, 213) solid;
}

